<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thylemeaf.org/extras/spring-security">

<head th:replace="layout/layout :: Head">
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper" th:replace="layout/layout :: BasePage"></div>

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Formulario de Caja</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">General Form</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<section class="content">
			<div class="container-fluid">
				<div class="row m-0 justify-content-center">
					<!-- left column -->
					<div class="col-md-10">
						<!-- general form elements -->
						<div class="card card-warning">
							<div class="card-header">
								<center>
									<h3 class="">Registro de Caja</h3>
								</center>
							</div>
							<!-- /.card-header -->

							<form th:action="@{/regCaja}" th:Object="${caja}" method="post">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-6">
											<!-- text input -->
											<div class="form-group">
												<label>Seleccionar Bloque</label> <select
													class="form-control select2" style="width: 100%;"
													name="bloque2">
													<option th:each="dep : ${dependencias}"
														th:value="${dep.id}" th:text="${dep.nombre}"></option>
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Codigo:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{codigo1}" name="codigo1" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6">
											<!-- text input -->
											<div class="form-group">
												<label>Serie:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{serie}" name="serie" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Codigo:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{codigo2}" name="codigo2" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6">
											<!-- text input -->
											<div class="form-group">
												<label>SubSerie:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{subserie}" name="subserie" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Codigo:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{codigo3}" name="codigo3" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6">
											<!-- text input -->
											<div class="form-group">
												<label>Caja Nº:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{Ncaja}" name="Ncaja" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Nº Legajos:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{Nlegajos}" name="Nlegajos" type="text"
													class="form-control" placeholder="">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6">
											<!-- text input -->
											<div class="form-group">

												<div class="nativeDatePicker">
													<label for="bday">Fechas Extremas - Desde:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{fechaDesde}"
														class="form-control" type="date" id="bday" name="fechaDesde">
													<span ></span>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<div class="nativeDatePicker">
													<label for="bday">Fechas Extremas - Hasta:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{fechaHasta}" 
														class="form-control" type="date" id="bday" name="fechaHasta">
													<span class="validity"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-10">
											<!-- text input -->
											<div class="form-group">
												<label>Retencion:</label> <input th:errorclass="'form-control alert-danger'" th:field="*{retencion}" name="retencion" type="text"
													class="form-control" placeholder="">
											</div>

											<div class="form-group">
												<label>Observaciones:</label>
												<textarea th:errorclass="'form-control alert-danger'" th:field="*{observaciones}" name="observaciones" class="form-control" rows="3"
													placeholder="Escriba aqui las Observaciones"></textarea>
											</div>
										</div>
									</div>
								</div>


								<div class="card-footer">
									<input type="submit" class="btn btn-primary" value="Registar">
								</div>

								<!-- input states -->
								<input type="hidden" th:value="${espacio.id}" name="espacio">
							</form>

							<!-- /.card-body -->
						</div>
					</div>

				</div>

			</div>


		</section>

	</div>





	<footer th:replace="layout/layout :: Footer"></footer>
	<!-- ./wrapper -->
	<div th:replace="layout/layout :: Scripts"></div>
</body>

</html>
