<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thylemeaf.org/extras/spring-security">

<head th:replace="layout/layout :: Head">
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper" th:replace="layout/layout :: BasePage"></div>


	<div class="content-wrapper">
	
	    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registro de Informacion para Legajos</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	
		<section class="content">
			<div class="container-fluid">
			
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">



								<h3 class="card-title">Lista de Legajos Creados en Caja</h3>

								<div class="row justify-content-end">
									<div class="col-4"></div>
									

								</div>


							</div>
							<!-- /.card-header -->
							<div class="card-body">

								<table id="example1"
									class="table table-bordered table-striped table-right">


									<thead>
										<tr>
											<th>Identificador</th>
											<th>Dependencia</th>
											<th>Serie</th>
											<th>Rango Fecha</th>
											<th>TotalFoleos</th>
											<th>Registrar</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="leg : ${legajos}">
											<td th:text="${leg.id}"></td>
											<td th:text="${leg.dependencia}"></td>
											<td th:text="${leg.serie}"></td>
											<td th:text="${leg.fechaDesde}"></td>
											<td th:text="${leg.totalFoleos}"></td>
											<td><a class="btn btn-primary"
												th:href="@{/regLegajo/} + ${leg.id}">Registrar</a></td>
											<td><a class="btn btn-danger"
												th:href="@{/eliminarLegajo/} + ${leg.id}"
												onclick="return confirm('Estas seguro ?')">Eliminar</a></td>
										</tr>

									</tbody>
									<tfoot>
										<tr>
											<th>Identificador</th>
											<th>Dependencia</th>
											<th>Serie</th>
											<th>Rango Fecha</th>
											<th>TotalFoleos</th>
											<th>Registrar</th>
											<th>Eliminar</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				</div>
			</div>
		</section>

	</div>





</body>
<footer th:replace="layout/layout :: Footer"></footer>
<div th:replace="layout/layout :: Scripts"></div>
</html>
