<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thylemeaf.org/extras/spring-security">

<head th:replace="layout/layout :: Head">
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper" th:replace="layout/layout :: BasePage"></div>


	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="'ESTANTE NUMERO : '+${estante.numero}"></h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Seleccione el Espacio Donde desea insertar
									</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">


								<div
									style="padding: 10px; float: left; width: 45%; text-align: justify">
									<div class="card-header" >
										<h3><center >Columna Nº 1</center></h3>
										
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==1}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
													
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==2}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==3}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==4}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==5}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==1 and esta.fila==6}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
								</div>
								

								<!-- -------------------------------------------------------------------------------------------- -->

								<div
									style="padding: 10px; float: right; width: 45%; text-align: justify">
									<div class="card-header" >
										<h3><center >Columna Nº 2</center></h3>
										
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==1}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==2}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==3}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==4}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==5}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
									<div>
										<table class="table table-bordered table-striped table-right">
											<tr>
												<th th:each="esta : ${posiciones}"
													th:if="${esta.columna==2 and esta.fila==6}">
													<a th:if="${esta.estado>0.1}" class="btn btn-success btn"
													th:href="@{/ingresarCaja/} + ${esta.id}" th:text="${esta.estado>0.1} ? 'Vacio'"></a>
													<a th:if="${esta.estado<=0.1}" class="btn btn-danger btn"
													th:href="@{/verCaja/} + ${esta.caja.id}" th:text="${esta.estado<=0.1} ? 'Ocupado'"></a>
												</th>
												
											</tr>
										</table>
									</div>
								</div>



							</div>
							<!-- /.card-body -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>





</body>
<footer th:replace="layout/layout :: Footer"></footer>
<div th:replace="layout/layout :: Scripts"></div>
</html>
